// Custom sass ..
/* All custom css */

// text styles
h1 {
  font-size: 30px;
  color: white;
  text-align: center;
 }
 h2 {
   font-size: 20px;
 }
h3 {
  position: absolute;
  font-size: 20px;
  color: white;
  margin-left: 50px;
  padding-top: 5px;
  margin-top: 10px;
 }
h4 {
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 5px;
 }

// button styles
#start:hover,
#submitLocAccom:hover,
#submitDate:hover,
#submitGuest:hover,
#submitCard:hover,
#submitCard2:hover,
#submitFoodCard:hover,
#submitFoodCard2:hover,
#confirm:hover
{
  background-color: #e91b72;
}

/* nav section */
#menu {
  position: absolute;
  z-index: 99;
  background: black;
  height: 80px;
  width: 100%;
}
.home {
  display:inline-flex;
  float: left;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-left: 350px;
}
.logo {
  display: inline-flex;
  float: left;
  height: 78px;
  width: 170px;
  margin-left: 30px;
}
.menu-item1 {
  display: inline-flex;
  color: white;
  margin-left: 40px;
  margin-top: 30px;
}
.menu-item2 {
  display: inline-flex;
  margin-left: 40px;
  color: lightskyblue;
}
.menu-item3 {
  display: inline-flex;
  color: white;
  margin-left: 40px;
}
.login {
  float: right;
  border: 2px solid lightskyblue;
  height:40px;
  width: 150px;
  margin-top: 20px;
  margin-right: 500px;
}
.logout {
  float: right;
  background-color:lightskyblue;
  border: 2px solid white;
  height:40px;
  width: 150px;
  margin-top: 20px;
  margin-right: 20px;
}
// font awesome icons
.fa-home {
  font-size: 40px;
  color: white;
}
.fa-search {
  font-size: 30px;
  color: white;
  margin-left: 210px;
  margin-top: 5px;
}
/* nav section ends */

// background img css
#scrn1,
#scrn2,
#scrn3,
#scrn4 {
  background-size: cover;
}

// section 1 home slide starts
#scrn1 {
  background-image: url(../img/leon-9mrz3RtfeFY-unsplash.jpg);
}
.slide-1 {
  position: absolute;
  padding-top: 30px;
  background-color: grey;
  height: 100px;
  width: 600px;
  margin-left: 600px;
}
#start {
  position: absolute;
  width: 150px;
  margin-left: 840px;
  margin-top: 120px;
  background-color: white;
}

// section 2 location/accom starts
#scrn2 {
  background-image: url(../img/mike-swigunski-KgylFXpskSA-unsplash.jpg);
}
.slide-2 {
  position: absolute;
  background-color: grey;
  height: 240px;
  width: 600px;
  margin-left: 600px;
  top: 300px;
}
// order-Form styles
.group {
  margin-left: 40px;
  margin-top: 20px;
  text-align: center;
  width: 500px;
}
#submitLocAccom {
  position: absolute;
  width: 100px;
  margin-left: 840px;
  margin-top: 120px;
  background-color: white;
}

// section 3 date picker starts
#scrn3 {
  background-image: url(../img/photoholgic-6EXdJNbjxV0-unsplash.jpg);
}
.slide-3 {
  position: relative;
  background-color: grey;
  height: 150px;
  width: 600px;
  margin-left: 600px;
  padding-top: 30px;
}
#date {
  position: absolute;
  margin-left: 330px;
  margin-top: 10px;
  width: 200px;
  text-align: center;
}
#submitDate {
  position: absolute;
  width: 100px;
  margin-left: 840px;
  margin-top: 20px;
  background-color: white;
}

// section 4 starts
#scrn4 {
  background-image: url(../img/casey-horner-KH-m9uYEzzg-unsplash.jpg);
}
.slide-4 {
  position: absolute;
  background-color: grey;
  height: 300px;
  width: 600px;
  margin-left: 600px;
  padding-top: 30px;
  top: 250px;
}
.fa-plus {
  position: absolute;
  font-size: 40px;
  color: white;
  margin-left: 100px;
  margin-top: 100px;
}
.fa-minus {
  position: absolute;
  font-size: 40px;
  color: white;
  margin-left: 80px;
  margin-top: 100px;
}
.fa-plus:hover ,
.fa-minus:hover  {
  color: #e91b72;
}
#guest1 {
  position: relative;
  border: 2px solid white;
  border-radius: 100%;
  width:150px;
  height: 150px;
  background-color: grey;
  margin-left: 220px;
  margin-top: 40px;
}
#submitGuest {
  position: absolute;
  width: 100px;
  margin-left: 840px;
  margin-top: 120px;
  background-color: white;
}

// section 5 starts
#scrn5 {
  background-image: url(../img/casey-horner-O_wC7v1Jh8A-unsplash.jpg);
}
.slide-5 {
  position: relative;
  background-color: grey;
  height: 550px;
  width: 800px;
  margin-left: 600px;
}
// bootstrap card styles
.card {
  position: absolute;
  height:400px;
  background-color: lightgrey;
  margin-left: 60px;
  margin-top: 20px;
}
.card2 {
  position: absolute;
  height:400px;
  background-color: lightgrey;
  margin-left: 440px;
  margin-top: 20px;
}
#submitCard {
  position: absolute;
  width: 100px;
  margin-left: 80px;
  margin-top: 320px;
  background-color: white;
}
#submitCard2 {
  position: absolute;
  width: 100px;
  margin-left: 80px;
  margin-top: 120px;
  background-color: white;
}

// section 6 starts
#scrn6 {
  background-image: url(../img/sunset.jpeg);
}
.slide-6 {
  position: relative;
  background-color: grey;
  height: 550px;
  width: 800px;
  margin-left: 600px;
  padding-top: 30px;
  margin-top: 50px;
}
#submitFoodCard {
  position: absolute;
  width: 100px;
  margin-left: 80px;
  margin-top: 320px;
  background-color: white;
}
#submitFoodCard2 {
  position: absolute;
  width: 100px;
  margin-left: 80px;
  margin-top: 120px;
  background-color: white;
}

// section 7 starts
#scrn7 {
  background-image: url(../img/That-Wanaka-Tree-Sunset-NZ-1440x960.jpeg);
}
.slide-7 {
  position: relative;
  background-color: grey;
  height: 300px;
  width: 500px;
  margin-left: 700px;
  padding-top: 20px;
}
#confirm {
  position: absolute;
  width: 100px;
  margin-left: 890px;
  margin-top: 30px;
  background-color: white;
}

// section 8 starts
#scrn8{
  background-image: url(../img/02-stargazing-nz-night-skies-over-red-tarns--aoraki-credit-lee-cook.jpeg);
}
.slide-8 {
  position: relative;
  background-color: grey;
  height: 300px;
  width: 500px;
  margin-left: 700px;
  padding-top: 40px;
  margin-top: 50px;
}
